<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="homepage.component.scss">
  <title>Keep Note</title>
</head>
<body>

    
  <Section class="hero">
    <h1>keep note</h1>
    <h3><pre>     Bienvenue sur votre plateforme de création , de gestion de carnets de 
         documents. Faites vos pas et laisser des traces et cela en toute
                                simplicité.</pre> </h3><br><br>
    <button class="btn btn-primary" type="submit" routerLink="/carnet">Voir carnets  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg></button>
  </Section>
</body>
</html>













