

<div class="p-5 mb-4 rounded-3 mx-auto col-md-6 ">
  <div class="p-3 mb-2 bg-danger text-white" style="width: 100%" Align=Center>
      <h3>création des carnets</h3>
  </div>
  <div class="alert alert-danger"  role="alert" style="width: 100%">
      <label for="floatingTextarea2">Veuillez saisir le nom du carnet </label>
      <input type="test" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Veuillez entrez le nom">
      <label for="floatingTextarea2">Veuillez saisir la description </label>
      <textarea class="form-control" placeholder="" id="floatingTextarea2" style="height: 90px" style="width: 50%"></textarea>
      <br>
          <div class="form-floating">
              <div class="col-md-12 text-center ">
                  <button type="button" class="btn btn-success" [routerLink]="['/carnet']">Retour</button>&nbsp;
                  <button type="button" class="btn btn-primary active" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Modifier</button>&nbsp;
                  <button type="button" class="btn btn-secondary">Annuler</button>
              <div>
          <div>
  </div>
</div>
