
<app-navbar></app-navbar>


<section class="container">
  <section class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </section>
</section>


<!--
<div class="container">
  <h3>Input</h3>
  <textarea rows="5" class="box" [(ngModel)]="text"></textarea>
  <h3>Preview</h3>
  <div class="box">
   {{  html }}
  </div>
  <input type="checkbox" [(ngModel)]="sanitize"/> Sanitize
</div>

-->

<!--
  <div class="container">
  <h3>Input</h3>
  <textarea rows="10" class="box" [(ngModel)]="text"></textarea>
  <h3>Preview</h3>
  <div class="box">
     <showdown>  </showdown>


  </div>
  <input type="checkbox" [(ngModel)]="sanitize"/> Sanitize
</div>
-->



